<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="common/head"></th:block>

<body>
<th:block th:include="common/header"></th:block>

<div id="content-wrapper">
    <div class="container-fluid">
        <h2 class="text-center" th:text="|${student.username}'s marks|"></h2>
        <div class="modal fade" id="writeMarkDialog" tabindex="-1" role="dialog" aria-labelledby="writeMarkDialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Write a mark</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="writeMarkForm" method="post" th:action="@{/teacher/students/{id}/write-mark(id=${student.id})}">
                            <p th:text="|Subject - ${currentTeacher.subject.name}|"></p>
                            <label for="mark">Mark value </label>
                            <select name="mark" class="form-control" id="mark">
                                <option value="6" selected>6</option>
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                            </select>
                            <label for="markType">Mark type </label>
                            <select name="markType" class="form-control" id="markType">
                                <option value="PRACTICAL" selected>Practical</option>
                                <option value="SPEAKING">Speaking</option>
                                <option value="WRITING">Writing</option>
                            </select>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-marker"></i> Write</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ml-2">
            <div class="col-md-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Marks</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="subject : ${subjects}">
                        <td th:text="${subject.name}"></td>
                        <td>
                            <th:block th:each="mark : ${subjectMarkMap.get(subject.name)}">
                                <button th:if="${mark.value == 6}" th:text="${mark.value}" class="btn btn-success"
                                        data-toggle="tooltip" data-placement="top" th:title="${mark.type.name()}"></button>
                                <button th:if="${mark.value == 5}" th:text="${mark.value}" class="btn btn-info"
                                        data-toggle="tooltip" data-placement="top" th:title="${mark.type.name()}"></button>
                                <button th:if="${mark.value == 4}" th:text="${mark.value}" class="btn btn-warning"
                                        data-toggle="tooltip" data-placement="top" th:title="${mark.type.name()}"></button>
                                <button th:if="${mark.value == 3}" th:text="${mark.value}" class="btn btn-secondary"
                                        data-toggle="tooltip" data-placement="top" th:title="${mark.type.name()}"></button>
                                <button th:if="${mark.value == 2}" th:text="${mark.value}" class="btn btn-danger"
                                        data-toggle="tooltip" data-placement="top" th:title="${mark.type.name()}"></button>
                            </th:block>
                            <button th:if="${#strings.equals(subject.name, currentTeacher.subject.name)}"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#writeMarkDialog">
                                <i class="fas fa-marker"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<th:block th:include="common/footer"></th:block>
</body>
</html>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>